/mosquito_alert/myModel/mnist/mnist_numpy.pkl
/mosquito_alert/phase2_train_v0.csv
/mosquito_alert/phase2_train_v0.zip
/mosquito_alert/myModel/mnist/t10k-images-idx3-ubyte.gz
/mosquito_alert/myModel/mnist/t10k-labels-idx1-ubyte.gz
/mosquito_alert/myModel/mnist/train-images-idx3-ubyte.gz
/mosquito_alert/myModel/mnist/train-labels-idx1-ubyte.gz
/mosquito_alert/myModel/tensor_image.pt
/.idea/*
/mosquito_alert/yolo/mini_test/*
/mosquito_alert/yolo/mini_train/*
/mosquito_alert/yolo/mini_valid/*
/mosquito_alert/yolo/test/*
/mosquito_alert/yolo/train/*
/mosquito_alert/yolo/valid/*
/mosquito_alert/.idea/*
/mosquito_alert/myModel/model_weights.pt
/mosquito_alert/myModel/phase2_train_v0.csv
/mosquito_alert/yolo/phase2_train_v0.csv
/mosquito_alert/yolo/data.yaml
